
form {
    
    margin: 0 auto;
    padding: 20px;
    margin-right: 30px;
    
    background-color: #f7f5f1;
    
  }
  

  form h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  

  form div {
    margin-bottom: 15px;
  }
  

  form label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
  }
  

  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    transition: border-color 0.3s ease;
  }
  

  form input[type="text"]:focus,
  form input[type="email"]:focus,
  form textarea:focus {
    border-color: #0066cc;
    outline: none;
  }

  form textarea {
    height: 150px;
    resize: vertical;
  }
  
 
  form button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color:rgb(43, 44, 94);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  

  form button:hover {
    background-color:rgb(27, 28, 54);
  }
  

  @media (max-width: 600px) {
    form {
      padding: 15px;
    }
  
    form h2 {
      font-size: 20px;
    }
  
    form input[type="text"],
    form input[type="email"],
    form textarea {
      font-size: 14px;
    }
  
    form button {
      font-size: 14px;
    }
  }
  