.about-link{
    text-decoration: none;
}
.about{
  min-height: 1000px;
  padding-top: 100px;

  
}
.main-story {
    
    min-height: 10vh;  
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}
.tag-width{
  
}
.profile-name{
    padding-top: 160px;
    position: relative;
    padding-right: 300px;
    text-align: left;
    white-space: nowrap;

    h1{
        font-size: 100px;;
        font-family: "Lucida Handwriting", cursive;

    }
    h2{
        font-size: 80px;
        color: #FF6A00;
    }
    strong{
        color: #FF6A00;
    }
     
    
    p{
        font-size: 15px;
        color: white;
        
    }
   
    
}

.tags{
    display:flex;
    
    
}
.tags p{
    padding:5px;
    color:#FF6A00;
}

.map {
    z-index: -5;
    position: absolute;
    width: 600px;
    
    
    
}
.profile-picture img {
    position: absolute;
    top: 110px;
    left: 700px;
    z-index: 2;
    width: 400px;
    height: 500px;
    border-radius: 0;
    object-fit: cover;
    transition: all 0.3s ease;
    filter: grayscale(100%) ;
    box-shadow: none;
    border-radius: 100%;
    
    opacity: 100%;
}
@media (max-width: 1200px) {
  .profile-picture img {
    display:none;
  }
}

.about-tag p{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.profile-picture {
   
    z-index: -2;
   
    padding-top: 40px;
    padding-right: 70px;
    padding-left: 50px;
    box-shadow: none;
}


.resume a {
  background: linear-gradient(145deg, #FF6A00, #FFA040); /* Glansig gradient */
  color:black;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Mjuk skugga */
  transition: all 0.3s ease;
  margin-bottom: 30px;
  margin-top: 20px;
  text-decoration: none;
}

.resume a:hover {
  background: linear-gradient(145deg, #FF7A00, #FFB060); /* Ljusare vid hover */
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Starkare skugga */
}
@media screen and (max-width: 768px) {
  .main-story {
    margin-left: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
    
  }
  .coffee-guy{
    padding-top: 0;
    padding-right: 0;
    
    
    p{
      font-size: 16px;
      
    }
  }

  .coffee-guy img{
    padding-right: 60px;
  }
  .profile-name {
    position: static;
    text-align: center;
    white-space: normal;
    padding:0;
  }
  .about{
    padding:0;
  }
  .profile-name h1 {
    font-size: 36px;
  }
  
  .profile-name h2 {
    font-size: 24px;
  }
  
  .tags {
    flex-wrap: wrap;
    justify-content: center;
  }

  .tags p {
    font-size: 12px;
  }

  .about-tag p {
    font-size: 16px;
    text-align: center;
  }

  .resume a {
    font-size: 14px;
    padding: 10px 20px;
  }

  .map {
    position: static;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
  }

 

 
.name{
    width: 300px;
}
.projects-container{
    margin-top: 0;
}


}
