.navbar {
  display:flex;
  flex-direction: column;
  padding:0px 30px;
  text-align: left;
  position: relative;
  padding-bottom: 20px;
  
  p{
    margin-top: 0;
    margin-bottom: 0;
  }

  
}
.nav-bar-layout {
  i {
    color: white;
    padding-left: 30px;
    font-size: 40px;
    padding-bottom: 30px;
    transition: color 0.3s ease; 
  }

  i:hover {
    color: #FF6A00;
  }
}

.nav-bar-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 300;
  transition: color 0.3s ease, font-weight 0.3s ease, background-color 0.3s ease;
  padding: 15px;
  border-left: 1px solid #1F1F1F;
  color: white;
  background-color: transparent;
}

.nav-bar-link:hover {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2); 
  color: #f0f0f0; 
  border-bottom-right-radius: 20px;
}

.nav-bar-layout{
  background-color: #1A1A1A;
  padding-top: 50px;
  display:block;
  padding-right: 60px;
  padding-left: 60px;
  width: 400px;
}
.nav-bar-link.active {
  position: relative;
  font-weight: bold;
  background-color: #1F1F1F;
  border-bottom-right-radius: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-bar-link.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: #FF6A00;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.link-title{
  border-top-left-radius: 10px;
  font-weight: 900;
  font-size: 20px;
  border-bottom: 1px solid #2B2B2B;;
  background-color: #1F1F1F;
  color: #FF6A00;
  padding:7px;
}

@media screen and (max-width: 768px) {
    .nav-bar-layout{
      display:none;
    }
}
.nav-links {
  list-style: none;
  font-size: 16px;
}




.nav-links a:hover {
  color: #ff6347;
}

