.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 40px 20px;
  
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  text-decoration: none;
  color: white;
}

.project-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.project-text {
  padding: 20px;
  background-color: rgb(36, 35, 35); /* text-bakgrund */
}

.project-text h3 {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.project-text .description {
  font-size: 0.95rem;
  margin-bottom: 15px;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 15px;
}

.tech-item {
  background-color:#FF6A00;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.progress {
  font-weight: bold;
}

.project-image {
  width: 100%;             /* fyller kortets bredd */
  height: 150px;           /* höjd på bilden */
  background-size: cover;  /* täcker hela div */
  background-position: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
