main{
  min-height: 75vh;
}
section{
    padding:10px;
    height: 100%;
    
}
#root{
    background-color: #1A1A1A;
}
body{
    margin:0;
    font-family: 'Courier New', Courier, monospace;
}

.layout{
  display:flex;
    
}
/* För fade-out */
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  pointer-events: none; /* Gör att elementet inte kan interagera under fade-out */
}

/* För fade-in */
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.clear-cookie{
  color:#eb8148
}
.period{
  
  strong{
    color: #E65100;
    
  }
}
.btn-cookie{
  width: 100px;
  padding:5px;
  margin:20px;
  color:white;
  background-color: #2B2B2B;
  cursor: pointer;

  
}
.btn-cookie:hover{
  
  background-color: #E65100;
}
.main-layout{
    display:block;
    width: 100%;
    background-color: #1A1A1A;
    animation: mainSectionAnimation 1.6s ease-in-out forwards;
    animation-delay: 3s;
    opacity: 0;
    
}

@keyframes mainSectionAnimation{
  from {
    opacity: 0;
    transform: translateY(600px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.extra{
    margin-top: 30px;
}
.content-text {
  width: 60%;
  text-align: justify;
  
  
  
}
.fade-in {
  opacity: 0;
  transition: opacity 3s ease-in;
}

.time-line{
    
  border-radius: 30px;
  width: 350px;
  align-items: center;
  padding-left: 30px;
  padding-top: 10px;
  background-color: #2B2B2B;
  color:white;
  margin-bottom: 20px;

}
.about{
  ul{
    padding-left: 0;
    
    li{
      list-style-type: none;
      padding: 10px;
    }
  }
}
.nav-bar-layout-mobile {
  display:none;
  padding-top: 20px;
  i {
    color: white;
    padding-left: 30px;
    font-size: 40px;
    padding-bottom: 30px;
    transition: color 0.3s ease; 
  }

  i:hover {
    color: #FF6A00;
  }
}
.about-link{
  color:black;
  transition: color 0.2s ease-in-out;
  
}
.about-link:hover {
  color: red;
}
.mobile-menu {
    color: black;
    font-size: 20px;
    font-weight: 600;
    transition: color 0.3s ease, font-weight 0.3s ease, background-color 0.3s ease;
    padding: 10px;
    color: white;
    background-color: transparent;
  }
  
  .mobile-menu a {
    text-decoration: none; 
    color: white; 
  }
  
  .mobile-menu ul {
    list-style: none;
    padding: 0;
  }
  .info-title{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    
  }
  .mobile-menu li {
    margin: 10px 0;
  }
  
  .mobile-menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
  }

  .contact{
    
    ul{
      padding-left: 0px;
      li{
        list-style-type: none;
      }
    }
  }
  li{
    font-size: 18px;
  }
  td{
    font-size: 18px;
  }
  .education{
    font-size: 18px;
  }
  .content-text{
    font-size: 18px;
    
  }
  .extra{
    
  }
  @media screen and (max-width: 768px) {
    .content-text {
      width: 95%;
      font-size: 14px;
      padding:10px;
      p{
        font-size: 16px;
        text-align: left;
        font-weight: 900;
        
      }
  
    }
    .time-line{
      width: 300px;
      padding:10px;
      text-align:center;
      padding:5px 20px;
      align-items: center;
      p{
        padding:0;
      }
    }
    li{
      font-size: 16px;
      font-weight: 900;
    }
    td{
      font-size: 16px;
      font-weight: 900;
    }
    .extra{
      font-size: 16px;
      margin:0px;
      padding:10px;
    }
  }

/* 
  Animationer */

  @keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInImage {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 1.8s;
  opacity: 0;
}

.image-ani{
  animation: fadeInImage 2s ease-out forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

.nav-bar-animation-1 {
  animation: fadeIn 0.8s linear forwards;
  animation-delay: 2.5s;
  opacity: 0;
}
.nav-bar-animation-2 {
  animation: fadeIn 0.8s linear forwards;
  animation-delay: 2.7s;
  opacity: 0;
}
.nav-bar-animation-3 {
  animation: fadeIn 0.8s linear forwards;
  animation-delay: 2.9s;
  opacity: 0;
}
.nav-bar-animation-4 {
  animation: fadeIn 0.8s linear forwards;
  animation-delay: 3.1s;
  opacity: 0;
}
.nav-bar-animation-5 {
  animation: fadeIn 0.8s linear forwards;
  animation-delay: 3.3s;
  opacity: 0;
}
.nav-bar-animation-6 {
  animation: fadeIn 0.8s linear forwards;
  animation-delay: 3.5s;
  opacity: 0;
}
.nav-bar-animation-7 {
  animation: fadeIn 0.8s linear forwards;
  animation-delay: 3.7s;
  opacity: 0;
}
.nav-bar-animation-8 {
  animation: fadeIn 0.8s linear forwards;
  animation-delay: 3.9s;
  opacity: 0;
}
.nav-bar-animation-9 {
  animation: fadeIn 0.8s linear forwards;
  animation-delay: 4.1s;
  opacity: 0;
}
.nav-bar-animation-10 {
  animation: fadeIn 0.8s linear forwards;
  animation-delay: 4.3s;
  opacity: 0;
}
.nav-bar-animation-11 {
  animation: fadeIn 0.8s linear forwards;
  animation-delay: 4.5s;
  opacity: 0;
}
.nav-bar-animation-12 {
  animation: fadeIn 0.8s linear forwards;
  animation-delay: 4.7s;
  opacity: 0;
}
.nav-bar-animation-13 {
  animation: fadeIn 0.8s linear forwards;
  animation-delay: 4.9s;
  opacity: 0;
}
.nav-bar-animation-14 {
  animation: fadeIn 0.8s linear forwards;
  animation-delay: 5.1s;
  opacity: 0;
}
.nav-bar-animation-15 {
  animation: fadeIn 0.8s linear forwards;
  animation-delay: 5.3s;
  opacity: 0;
}
