main{
  min-height: 75vh;
}
section{
    padding:10px;
    height: 100%;
    
}
#root{
    background-color: #1A1A1A;
}
body{
    margin:0;
    font-family: 'Courier New', Courier, monospace;
}

.layout{
  display:flex;
    
}
/* För fade-out */
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  pointer-events: none; /* Gör att elementet inte kan interagera under fade-out */
}

/* För fade-in */
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.period{
  
  strong{
    color: #E65100;
    
  }
}


.main-layout{
    display:block;
    width: 100%;
    background-color: #1A1A1A;
}
.extra{
    margin-top: 30px;
}
.content-text {
  width: 60%;
  text-align: justify;
  
}
.fade-in {
  opacity: 0;
  transition: opacity 3s ease-in;
}

.time-line{
    
  border-radius: 30px;
  width: 350px;
  align-items: center;
  padding-left: 30px;
  padding-top: 10px;
  background-color: #2B2B2B;
  color:white;
  margin-bottom: 20px;

}
.about{
  ul{
    padding-left: 0;
    
    li{
      list-style-type: none;
      padding: 10px;
    }
  }
}
.nav-bar-layout-mobile {
  display:none;
  padding-top: 20px;
  i {
    color: white;
    padding-left: 30px;
    font-size: 40px;
    padding-bottom: 30px;
    transition: color 0.3s ease; 
  }

  i:hover {
    color: #FF6A00;
  }
}
.about-link{
  color:black;
  transition: color 0.2s ease-in-out;
  
}
.about-link:hover {
  color: red;
}
.mobile-menu {
    color: black;
    font-size: 20px;
    font-weight: 600;
    transition: color 0.3s ease, font-weight 0.3s ease, background-color 0.3s ease;
    padding: 10px;
    color: white;
    background-color: transparent;
  }
  
  .mobile-menu a {
    text-decoration: none; 
    color: white; 
  }
  
  .mobile-menu ul {
    list-style: none;
    padding: 0;
  }
  .info-title{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    
  }
  .mobile-menu li {
    margin: 10px 0;
  }
  
  .mobile-menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
  }

  .contact{
    
    ul{
      padding-left: 0px;
      li{
        list-style-type: none;
      }
    }
  }
  li{
    font-size: 18px;
  }
  td{
    font-size: 18px;
  }
  .education{
    font-size: 18px;
  }
  .content-text{
    font-size: 18px;
    
  }
  @media screen and (max-width: 768px) {
    .content-text {
      width: 95%;
      font-size: 14px;
      p{
        font-size: 16px;
        text-align: left;
        font-weight: 900;
      }
  
    }
    .time-line{
      width: 250px;
      padding:10px;
      text-align:center;
      
    }
    li{
      font-size: 16px;
      font-weight: 900;
    }
    td{
      font-size: 16px;
      font-weight: 900;
    }
  }

